.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  min-height: 100vh;
  background: var(--background-color); // blanco
}

.login-logo {
  width: 160px;
  margin: 0 auto 1rem;
  display: block;
  color: var(--ion-color-quinary);
}

.custom-input-group {
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
form {
  margin-top: 1rem;
}
.icon-eye-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--ion-color-quinary);
  font-size: 1.3em;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 768px) {
  .login-page {
    flex-direction: row;
    margin: auto;
    max-width: 1000px;
    gap: 3rem;
  }
  .top-login,
  form {
    width: 50%;
  }
  .login-logo,
  .login-title {
    margin-bottom: 2rem;
  }
}
